.team{
	margin-top: 20px;
   
}
.team h1 {
	text-align: center;
	color: #606060;
	text-transform: uppercase;
    padding-bottom: 10px;
}

.team .box{
	float: left;
	text-align: center;
	margin-right: 2px;
	width: 25%;
}
.team .box p{
    font-size: 25px;
	
}
.team img{
    width: 150px;
    height: 200px
}

/* Media Quaries */
@media(max-width: 768px){
	
	.box,
	.team .box
{
		float: none;
		text-align: center;
		width: 100%;
	}

	
}